# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 2. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

JWT_SECRET= # Secret for Tokens
USTS_SECRET= # Secret for Its-Dangerous
EMAIL_USER= # MailJet email, example: 4geeks.fspt95.pfg2@gmail.com
SMTP_USER= # This is the user that appears on: <url>
SMTP_PASSWORD= # Can be found on: <url>
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VITE_FRONTEND_URL= # https://<Lo que sea>-3000.app.github.dev/ <- Importante barra al final tambien

Front-End Variables
VITE_BASENAME=/
VITE_BACKEND_URL= # https://<Lo que sea>-3001.app.github.dev/ <- Importante barra al final tambien